.questions {
    padding: 4rem 2rem;
    background-color: #f3f4f6;
    // .questions__container


    // .questions__descr

    &__descr {
        margin-top: 48px;
        font-size: 1.125rem;
        color: #9698a6;
        letter-spacing: 1px;
        line-height: 1.3333333333;
        font-weight: 300;
    }

    // .questions__wrapper

    &__wrapper {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    // .questions__wrapper-block

    &__wrapper-block {

        @media (max-width:$tablet) {
            width: 100%;
        }
    }
}

.title {
    @media (max-width:$mobile) {
        text-align: center;
    }

    font-size: rem(48);
}

.questions-block {
    width: 25%;
    padding: 20px;

    // .questions-block__logo
    @media (max-width:$tablet) {
        width: 50%;
    }

    @media (max-width:$mobile) {
        width: 100%;
    }

    &__logo {}

    // .questions-block__title

    &__title {


        margin-top: 20px;
    }

    // .questions-block__descr

    &__descr {
        margin-top: 20px;
        font-size: 1.125rem;
        color: #9698a6;
        letter-spacing: 1px;
        line-height: 1.3333333333;
        font-weight: 300;
    }
}